body { 
	background-color: yellow; }
h1 {color: yellow;}	

	 
#articles {
        display: inline-block;
        overflow: auto;
        width: 60%;
        height: 700px;
        color: yellow;
        
      }
      #notes {
        float: right;
        width: 30%;
        background-color: red;
      }

body {background-image: url(http://i.dailymail.co.uk/i/pix/2017/07/24/13/42A2BEDE00000578-4724722-image-a-29_1500897993998.jpg);
	
	background-repeat: no-repeat;
}


