body { 
	background-color: yellow; }
h1 {color: yellow;}	
a {
    color:red;
    font:bold;
    font-size: 125%;
}

	 
#articles {
        display: inline-block;
        overflow: auto;
        width: 60%;
        height: 500px;
        color: yellow;
        font-size: 150%;
        
      }
#notes {
        float: right;
        width: 40%;
        background-color: red;
        
      }


.container {background-image: url(http://i.dailymail.co.uk/i/pix/2017/07/24/13/42A2BEDE00000578-4724722-image-a-29_1500897993998.jpg);
	
	background-repeat: no-repeat;
}

textarea, input {
        display: block;
        width: 100%;
        background-color: #FCF5C7;
      }
      input {
        height: 36px;
        font-size: 24px;
      }
      textarea {
        height: 200px;
        font-size: 18px;
      }


